html,body{width: 100%;height: 100%;}
.box{width: 100%;height: 100%;/*background: url(../images/biejing.png) no-repeat;background-size: 100% 100%;*/ }
.bg{width: 100%;height: 100%;}
.bg>img{width: 100%;height: 100%;}
.logo-title{margin: 0 auto;top: 50px;left: 50%;margin-left: -268px;}

.option-box-out{width: 929px;height:350px;top: 50%;right: 50%;margin: -175px -425px 0 0;}
.option-box{width: 980px;height:350px;overflow: hidden;}
.option-out{height: 350px;width: auto;}
.option .img{margin: 40px auto;height: 140px;width: 134px;}
.option .img img{margin: 0 auto;}
.option span{color: #fff;font-size: 26px;}

.option{width: 275px;height: 319px;float: left;background: url(../images/kuang.png) no-repeat;text-align: center;margin-left: 51px;cursor: pointer;}
/*.option:nth-of-type(1){margin: 0;}*/
.option p{text-align: center;}

.btn{width: 71px;height: 71px;margin-top: -35px;display: none;}
.btn-L{left: -60px;top: 50%;}
.btn-R{right: -150px;top: 50%;}

.user{top: 40px;right: 60px;}
.zhaungtai{top: 80px;left: 10px;color: #fff;}
.touxiang-start{display:none;width: 189px;height: 148px;background: url(../images/grjj-bj.png) repeat-x; border-radius: 8px;bottom: -148px;left: -132%;behavior: url(js/PIE.htc);}
.touxiang-sanjiao{top: -14px;right: 20%;}
.touxiang-start-box{border-radius: 8px;behavior: url(js/PIE.htc);}
.people-box{width: 100%;height: 100%;border-radius: 8px;behavior: url(js/PIE.htc);padding-top: 8px;}
.first-li{height: 52px;border-radius: 8px;behavior: url(js/PIE.htc);}
.head-box{width: 100%;height: 100%;padding: 4px 8px;}
.head-box>p,.head-img-box{float: left;}
.head-img-box{margin-right: 6px;margin-top: 6px;}
.head-box>p{color: #fff;line-height: 22px;}
.people-box>li>img{float: left;display: inline-block;margin: 13px 8px 0 16px;}
.second-li{height: 41px;line-height: 41px;border-bottom: 1px solid #EBEAEA;color: #828282;}
.tirth-li{height: 41px;line-height: 41px;color: #828282;}
.function img{margin: 3px auto 2px;}
.touxiang{margin-top: -5px;}
.touxiang-img-box{width: 71px;height: 71px;}
.touxiang>div>img{margin: 0;width: 100%;height: 100%;}

#op1{left: 50%;margin-left: -137px;}

#op2-1{float: left;}
#op2-2{float: right;}
