.box{width: 100%;height: 100%;color:#6E6E6E;background: #fff;-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
.left{width: 215px;height: 100%;background: #fff;z-index: 10;border-right: 1px solid #ccc;float: left;}
.logo-box{width: 100%;padding-bottom: 15px;padding-top: 32px;}
.logo{width: 100%;}
.logo img{margin: 0 auto;}
.title{width: 100%;margin-top: 10px;}
.scroll-box{width: 275px;height: 465px;overflow-x: hidden; overflow-y:auto }
.classify-box{width: 215px;}
.Scroll{width: 7px;height: 570px;background-color: #F7F7F7;float: left;position: relative;display: none;}
.scroll{width: 7px;background-color: #EAEAEA;border-radius: 10px; -webkit-border-radius: 10px;-moz-border-radius: 10px;  position: absolute;behavior: url(zhuantitu/js/PIE.htc);}
.Scroll2{width: 7px;height: 343px;background-color: #F7F7F7;float: right;position: relative;display: none;}
.scroll2{width: 7px;background-color: #EAEAEA;border-radius: 10px; -webkit-border-radius: 10px;-moz-border-radius: 10px;  position: absolute;behavior: url(zhuantitu/js/PIE.htc);}
.Scroll3{width: 7px;height: 349px;background-color: #F7F7F7;float: right;position: relative;display: none;}
.scroll3{width: 7px;background-color: #EAEAEA;border-radius: 10px; -webkit-border-radius: 10px;-moz-border-radius: 10px;  position: absolute;behavior: url(zhuantitu/js/PIE.htc);}
.content{width: 215px;line-height: 48px;padding-left: 68px;position: relative;}
.content2{float: left;}
.tulie{width: 180px;padding-left: 68px;line-height: 48px;margin: 0 15px 0 20px;}
.tulie2{width: 100%;line-height: 48px;margin: 0;}
.content>img,.tulie>img{position: absolute;top: 5px;left: 10px;}
.tulie2>img{float: left;margin: 8px 15px 0 20px;}
.tushi{overflow: hidden;padding-bottom: 14px;}
.tushi2{overflow: hidden;padding-bottom: 14px;}
.tushi2>li{line-height: 41px;overflow: hidden;border-bottom: 1px solid #CAE8FF;}
.tushi2>li>img{float: left;margin: 13px 10px;}
.close{float: right;margin: 16px 12px;}
.check{width: 139px;height: 32px;border-radius: 3px; -webkit-border-radius: 3px;-moz-border-radius: 3px;  color: #fff;margin: 10px auto -4px;line-height: 32px;behavior: url(zhuantitu/js/PIE.htc);}
.tuwen{line-height: 28px;color: #333;margin-left: 22px;float: left;margin-top: 11px;padding-right: 18px;}
.tuwen>img{float: left;margin-right: 3px;}
.classify{cursor: pointer;}
.zIndex{z-index: 3;}
.classify,.classify2{width: 215px;color: #808080;background: #fff;margin-top: 20px;right: -27px;border-radius:3px;border-top-left-radius: 3px;border-bottom-left-radius: 3px;
-webkit-border-radius:3px;-webkit-border-top-left-radius: 3px;-webkit-border-bottom-left-radius: 3px;
-moz-border-radius:3px;-moz-border-top-left-radius: 3px;-moz-border-bottom-left-radius: 3px;
behavior: url(zhuantitu/js/PIE.htc);}
.triangle-right {width:0;height:0;right:-1px;bottom: -15px;border-top:0px solid transparent;border-bottom: 15px solid transparent;z-index: 99;}
/*右边*/
.right{width: 100%;height: 100%; behavior: url(zhuantitu/js/PIE.htc);}
.map{width: 100%;height: 100%;z-index: 0; }
.zoom {width: 41px;height: 79px;position: fixed;right: 8px;bottom: 70px;z-index: 999;background: url(../images/zoom.png) no-repeat;overflow: hidden;}
.zoom span {display: block;width: 100%;height: 42px;cursor: pointer;}
.add-marker-popup{padding:0 0 0 10px; color:#7A7A7A; width: 200px;height: 45px;line-height: 45px;background-color: #fff;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border: 1px solid #ccc;behavior: url(zhuantitu/js/PIE.htc);}
.add-marker-popup-ok{float: right;margin-right: 10px; cursor: pointer;}
.add-marker-popup-cancel{float: left;margin-right: 10px;color: #39bf4e;}

.function{height: 60px;right: 25px;top: 35px;z-index: 99;}
.search-box{margin-right: 10px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;behavior: url(zhuantitu/js/PIE.htc);}
.input-clear{width: 18px;height: 47px;top:0;right:50px;display:none; background: url(../images/clear.png) no-repeat center; cursor: pointer;}
.start{width: 47px;height: 47px;top: 0;right: 0;background: url(../images/search2.png) no-repeat center; cursor: pointer;}
.search{border:0;width: 300px;height: 47px;line-height:47px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;padding-left: 8px;behavior: url(zhuantitu/js/PIE.htc);}
.List{width: 100%;background: #fff;margin-top:2px;padding: 12px 17px;max-height: 200px;overflow-y: auto;}
.List>li{cursor:pointer;padding-left: 8px;border-bottom: 1px solid #F0F0F0; width:249px; line-height: 40px;height: 41px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.none{display: none;}
.add,.quanxian,.kuangxuan,.qiehuan{width:60px;height: 50px;cursor:pointer;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;margin-right: 10px;background: #fff;text-align: center;color: #7A7A7A;behavior: url(zhuantitu/js/PIE.htc);}
.add-start{display:none;width: 188px;height: 84px;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;bottom: -96px;left: -100%;behavior: url(zhuantitu/js/PIE.htc);}
.add-sanjiao{opacity: 0.5; width: 0;height: 0;top:-16px;left:45%;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 13px solid #5D5F5C;}
.add-over{display:none;border-radius: 8px; -webkit-border-radius: 8px;-moz-border-radius: 8px;background: #5D5F5C;opacity: 0.5;width: 188px;height: 84px;bottom: -96px;left: -100%;behavior: url(zhuantitu/js/PIE.htc);}
.add-start-box{border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;behavior: url(zhuantitu/js/PIE.htc);}
.add-close{right: 10px;cursor: pointer;}
.qiehuan-start{width: 188px;height: 95px;background: pink;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;bottom: -109px;left: -120%;display: none;behavior: url(zhuantitu/js/PIE.htc);border:1px solid #ccc}
.qiehuan-start-box{width: 100%;height: 100%;background: #fff;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;behavior: url(zhuantitu/js/PIE.htc);}
.map-option{width: 70px;height: 60px;float: left;margin: 17px 0 0 17px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
.map-option img{width: 70px;height: 60px;}
.touxiang-start{display: none;border:1px solid #ccc;width: 188px;height: 134px;background: url(../images/zj.png) repeat-x;background-position: 0 -2px; border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;bottom: -139px;left: -150%;behavior: url(zhuantitu/js/PIE.htc);}
.touxiang-sanjiao{top: -14px;right: 20%;}
.touxiang-start-box{border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;behavior: url(zhuantitu/js/PIE.htc);}
.people-box{width: 100%;height: 100%;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;behavior: url(zhuantitu/js/PIE.htc);}
.first-li{height: 52px;border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;behavior: url(zhuantitu/js/PIE.htc);}
.head-box{width: 100%;height: 100%;padding: 4px 8px;}
.head-box>p,.head-img-box{float: left;}
.head-img-box{margin-right: 6px;}
.head-img-box>img{border-radius:50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;behavior: url(zhuantitu/js/PIE.htc);}
.head-box>p{color: #fff;line-height: 22px;}
.people-box>li>img{float: left;display: inline-block;margin: 13px 8px 0 16px;}
.second-li{height: 41px;line-height: 41px;border-bottom: 1px solid #EBEAEA;color: #828282;}
.tirth-li{height: 41px;line-height: 41px;color: #828282;cursor: pointer;}
.function img{margin: 3px auto 2px;}

.touxiang{margin-top: -5px;}
.touxiang>img{margin: 0;border-radius:50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;behavior: url(zhuantitu/js/PIE.htc);}
/*详细信息页*/
.xiangqingContent-box{padding: 10px 0;}
.xiangxi-box{z-index: 10;width: 280px;background: #fff;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border:1px solid #DCDCDC;-moz-box-shadow:2px 3px 5px #CACACA;-webkit-box-shadow:2px 3px 5px #CACACA;box-shadow:2px 3px 5px #CACACA;behavior: url(zhuantitu/js/PIE.htc);}
.xiangxiTop{border-bottom: 1px solid #DCDCDC;overflow: hidden;line-height: 42px;text-align: center;}
.xiangxi-title{float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 170px;}
.revise-box{float: right;margin: 15px 8px 0 -4px;line-height: 12px;}
.revise-box>span{float: left;padding: 0 3px;cursor: pointer;}
.xiangqingContent{padding: 0 10px 12px 15px;overflow: auto;height: 300px;}
.messageBox{float: left;width: 243px;padding-bottom: 10px;}
.img{width: 245px;height: 110px;margin: 0 auto;border:1px solid #ccc;}
.img>img{width: 100%;}
.message-box{width: 245px;overflow: hidden;}
.name,.message{font-size: 14px;color: #7E7E7E;display: inline;}
.message{margin-left:10px;}

/*详细页修改*/
.overShaw{top: 0;left: 0;background: #000;opacity: 0.5;z-index: 990;width: 100%;height: 100%;display:none;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);}
.revamp{left: 50%;top: 50%;z-index: 991;background: #fff;min-width: 503px;display:none;margin-left: -256px;margin-top: -247px;}
.revamp-top{height: 50px;line-height: 50px;border-bottom: 1px solid #EBEAEA;}
.revamp-top>img{float: right;margin: 20px 15px;cursor: pointer;}
.option-title{width: 100%;height: 72px;padding: 14px 70px 26px;}
.option-title1,.option-title2{width: 171px;height: 36px;border:1px solid #DCDCDC;line-height: 36px;color: #696868}
.option-title-bac{background: #ECECEC;}
.option-cont-box{width: 100%;height: 242px;}
.save{height: 60px;border-top: 1px solid #DCDCDC;}
.form{margin-top: 10px;height: 349px;overflow: auto; }
.form-content{float: left;}
.form label{display: block;margin: 10px 0 0 53px;color: #585858;overflow: hidden;line-height: 33px;}
.form label ul{float: left;max-width: 280px;overflow: hidden;}
.img-box{width: 45px;height: 45px;border:1px solid #DCDCDC;float: left;line-height: 45px;margin: 3px 10px 3px 0;}
.img-box>img{display: inline-block;margin: 4px auto;}
.check-box{position: absolute;line-height: 0;text-align: right;z-index: 3;text-align: right;bottom: 0;right: 0;}
.check-box>img{display: inline-block;}
.form input[type="text"],select{width: 280px;height: 33px;line-height:33px;border:1px solid #DCDCDC;padding-left: 8px;color: #7B7B7B;}
input[type="button"]{display:block;width: 110px;height: 38px; cursor:pointer; background: #41AEFF;margin: 15px auto;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;color: #fff;behavior: url(zhuantitu/js/PIE.htc);}
label>span{width: 73px;float: left;line-height: 33px;}
/*三角形*/
.sanjiao-Box{bottom:-25px;left:125px;}
.sanjiao-box{width: 35px;height: 25px;}
.sanjiao{width: 0;height: 0;left:-2px;border-left: 17px solid transparent;border-right: 18px solid transparent;border-top: 25px solid #CACACA;}
.sanjiao2{width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 20px solid #fff;}
.fun-sanjiao{width: 0;height: 0;top:-13px;left:50%;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 13px solid #fff;}
.shadow{-moz-box-shadow:0px 1px 5px #666;-webkit-box-shadow:0px 1px 5px #666;box-shadow:0px 1px 5px #666;behavior: url(zhuantitu/js/PIE.htc);}

.sanjiao-Box-i{top:-13px;left:50%}
.sanjiao-box-i{width:35px;height:25px}
.sanjiao2-i{width:0;height:0;left:-1px;top:-2px;border-left:9px solid transparent;border-right:9px solid transparent;border-bottom:15px solid #cacaca}
.sanjiao-i{width:0;height:0;left:1px;border-left:5px solid transparent;border-right:9px solid transparent;border-bottom:13px solid #fff}
.fun-sanjiao-i{width:0;height:0;top:-13px;left:50%;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:13px solid #fff}

.add-img{overflow: hidden;min-height: 45px;margin-bottom: 10px;cursor: pointer;}
.add-list{width: 280px;overflow: hidden;float: left;padding-top: 10px;}
.upload{width: 45px;height: 45px;float: left;border: 1px solid #dcdcdc;}
.upload>img{width: 100%;height: 100%;}
.added-img{width:45px;height: 45px;border: 1px solid #dcdcdc;margin-right: 10px;margin-bottom: 10px;cursor: pointer;}
.added-img>img{width: 100%;height: 100%;}

.add-img-close{top:0px;right: 0px;}
.add-img-close>img{width: 9px;height: 9px;}
.add-img-icon{color:#dcdcdc;font-weight:bold;font-size:36px;height:43px;text-align:center;line-height:36px}
.upload-box{margin:10px 0 0 53px;color:#585858;overflow:hidden;line-height:33px}
.upload-box>span{float:left;width:73px}
.upload-btn{position:relative;display:inline-block;background:#fff;border:1px solid #dcdcdc;width:45px;height:45px;cursor:pointer}
.none{display:none}
.loading{background: url(../images/loading.gif) no-repeat center;}

.wunenghao{ background: url(../images/wunenghao.png) no-repeat center; height: 150px;}
.address{width: 100%;background: #1E9FFF;line-height: 45px;color: #fff;}
.title-H{text-align: left;}
.count-List .title{color: #000;text-align: left;/*padding-left: 20px;*/font-size: 16px;}
.count-List>li{border-bottom: 1px solid #ccc;padding:10px 0 10px 15px;}
.title img{margin-top: 7px;margin-right: 7px;}
.count-content span{display: inline;}
.count-content{/*margin:0 20px;*//*padding-bottom: 10px;*/}
.count-content li{text-align: left;margin-top: 8px;padding-left: 15px;color: #4A4A4A;}
.dian{color: red;}
.shui{color: #41AEFF;}
.dian,.shui{margin-right: 5px;}
.shebei-mesg{display: inline-block;}
.zhuangtai-mesg,.zhuangtai-img{display: inline-block;}

.flow{width: 502px;background: #fff;top: 50%;left: 50%;margin-left: -251px;margin-top: -282px;display: none;z-index: 999;}
.flow span{display: inline-block;}
.flow-top{width: 100%;height: 48px;border-bottom: 1px solid #EBEAEA;line-height: 48px;color: #363636;font-size: 18px;}
.flow1-title{display: inline;}
.flow-close{margin-top: 17px;margin-right: 17px;cursor: pointer;}
.flow-content{padding: 0 15px;height: 487px;overflow-y: auto;}
.flow1-address-box{line-height: 52px;}
.flow1-address-box img{margin: 24px 5px 0 0;}
.flow1-check{color: #B0D7FC;border-bottom: 1px solid #B0D7FC;cursor: pointer;}
.time-select1 input{border:1px solid #DCDCDC;width: 139px;height: 33px;}
.btn:active{color: #fff;background: #41AEFF;}
.btn{width: 76px;height: 32px;border:1px solid #41AEFF;float: left;margin-right: 10px;line-height: 30px;text-align: center;cursor: pointer;}
/*flow2*/
.flow2-top{width: 100%;height: 48px;border-bottom: 1px solid #EBEAEA;line-height: 48px;color: #363636;font-size: 18px;}
.flow2-title{display: inline;}
.flow2-address-box{line-height: 52px;}
.flow2-address-box img{margin: 24px 5px 0 0;}
.flow2-table{width: 100%;border-top:1px solid #DCDCDC;border-left:1px solid #DCDCDC;color: #353535;}
.flow2-table th,.flow2-table td{border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;}
.flow2-table td{height: 34px;text-align: center;font-size: 14px;}
.time-select2{margin-bottom: 18px;}
.time-select2 input{border:1px solid #DCDCDC;width: 139px;height: 33px;}
.btn-box{overflow: hidden;}
.reset-btn2,.dian-btn2{float: right;}

.xuan-box{margin: 10px auto;overflow: hidden;}
.xuan{float: left;margin-right: 28px;margin-bottom: 5px;}
.xuan-box{}
.checkbox,.all-checkbox{width: 16px;height: 16px;border:1px solid #B5B5B5;float: left;margin: 3px 3px 0 0;}
.check-selet{background: url(../images/yixuan.png) no-repeat center;}

.btn-count{width: 176px;height: 38px;color: #fff; background: #F49F3A;margin:15px auto;border-radius: 3px;line-height: 38px;color: #F5F5F5;cursor: pointer;}

.flow1-table{width: 100%;border-top:1px solid #DCDCDC;border-left:1px solid #DCDCDC;color: #353535;}
.flow1-table th,.flow1-table td{border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;}
.flow1-table td{height: 34px;text-align: center;font-size: 14px;}
.flow-check{color: #71BDFE;border-bottom: 1px solid #71BDFE;font-size: 16px;}
.flow3-table{width: 100%;border-top:1px solid #DCDCDC;border-left:1px solid #DCDCDC;color: #353535;}
.flow3-table th,.flow3-table td{border-bottom:1px solid #DCDCDC;border-right:1px solid #DCDCDC;}
.flow3-table td{height: 34px;text-align: center;font-size: 14px;}
/*flow-mesg*/
/*.flow-mesg{width: 502px;top: 50%;height: 50%;margin-left:251px;background: #fff;}
.flow-mesg-top{width: 100%;height: 29px;border-bottom: 1px solid #F0EFEF;}*/
.flow-mesg{width: 502px;background: #fff;top: 50%;left: 50%;margin-left: -251px;margin-top: -182px;padding-bottom:26px;display: none;z-index: 999;}
.flow-mesg span{display: inline-block;}
.flow-mesg-top{width: 100%;height: 48px;border-bottom: 1px solid #EBEAEA;line-height: 48px;color: #363636;font-size: 18px;background: #F7F7F7;}
.flow-mesg-title{display: inline;}
.flow-mesg-close{margin-top: 17px;margin-right: 17px;}
.flow-mesg-content{padding: 0 15px;overflow-y: auto;}
.flow-mesg-address-box{line-height: 52px;}
.flow-mesg span{display: inline-block;}
.flow-mesg-address-box img{margin: 24px 5px 0 0;}
.mesg-list{width: 100%;}
.mesg-floor{background: #F0F0F0;height: 28px;line-height: 28px;padding-left: 10px;margin-top: 6px;}
.mesg-box{}
.shebei-name{line-height: 44px;}
.shebei-img{margin-right: 5px;}
.shebei-name img{margin-top: 10px;}
.count{margin:0 30px;}

.map-cut-tool{
	position: fixed;
	z-index: 500;
	top: 153px;
	right: 33px;
	overflow: hidden;
	z-index: 9;
}
.map-cut-tool a{
	display: block;
	width: 63px;
	height: 63px;
	float: left;
	text-decoration: none;
}
.cut-tool-2d{
	background: url(../images/cut.png) no-repeat;
	background-position: 0 -144px;
}
.cut-tool-3d{
	background: url(../images/cut.png) no-repeat;
	background-position: 0 -216px;
}
.map-cut-tool .cut-tool-2d.active{
	background: url(../images/cut.png) no-repeat;
	background-position: -84px -144px;
}
.map-cut-tool .cut-tool-3d.active{
	background: url(../images/cut.png) no-repeat;
	background-position: -84px -216px;
}
.tool-font{
	display: block;
	width: 36px;
	height: 15px;
	font-size: 12px;
	color: #bcbbbb;
	line-height: 13px;
	text-align: center;
	border: 1px solid #bcbbbb;
	margin: 36px auto 0 auto;
	background: #f9f9f9;
	border-radius: 8px;
	-moz-border-radius: 8px;
}
.cut-tool-2d span{
	width: 42px;
}
.map-cut-tool a.active{
	background: #f7fafe;
	color: #438afb;
	border: 0px solid #438afb;
}
.reset-btn2, .dian-btn2 {
    float: right;
}
