.pagin{position:relative;margin:10px 0;padding:0 12px;height: 18px;}
.pagin .paginList{position:absolute;right:12px;top:0;}
.pagin .paginList .paginItem{float:left;}
.pagin .paginList .paginItem a{float:left;width:18px;height:16px;border:1px solid #DDD; text-align:center;line-height:14px;border-left:none;color:#353535;font-size: 12px;}
.pagin .paginList .paginItem:first-child a{border-left:1px solid #DDD;}
.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagepre{background:url(../images/fh.png) no-repeat center center; width:18px; height:16px;}
.pagenxt{background:url(../images/fh1.png) no-repeat center center; width:18px; height:16px;}
.pagin .paginList .page-active a{color: #fff;background: #41AEFF;cursor: text;}
